@model IEnumerable<CarWithAKT.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="pagetitle">
        <h2>Все заказы</h2>
    </div>
    <table class="table">
        <tr>
            <th>
                Id клиента
            </th>
            <th>
                Имя клиента
            </th>
            <th>
                Статус заказа
            </th>
            <th>
                Id админа
            </th>
            <th>
                Дата передачи авто
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Полная стоимость
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullPrice)
                </td>
                
                @if (User.IsInRole("worker") && item.StatusId == 1)
                {
                <td><form action="@Url.Action("Approve","Order",new { id = item.Id })"><button style="width: 110px; display: block; margin: 0 auto" class="mybutton">Подтвердить</button></form></td>
                        
                <td><form action="@Url.Action("Canceled","Order",new { id = item.Id })"><button style="width: 110px; display: block; margin: 0 auto" class="mybutton">Отменить</button></form></td>

                }
                              else if (User.IsInRole("worker") && item.StatusId == 2)
                              {
                              <td><form action="@Url.Action("Canceled","Order",new { id = item.Id })"><button style="width:110px; display:block;margin: 0 auto" class="mybutton">Отменить</button></form></td>
                              }
                                          
                    @if (User.IsInRole("admin") && item.StatusId == 1)
                    {
            <td>
                <form action="@Url.Action("Delete","Order",new { id = item.Id })"><button style="width: 110px; display: block; margin: 0 auto " class="mybutton">Удалить</button></form>
            </td>
                }
            
                <td>
                    <form action="@Url.Action("Details","Order",new { id = item.Id })"><button style="width: 110px; display: block; margin: 0 auto " class="mybutton">Подробнее</button></form>
                </td>
            </tr>
        }

    </table>
    </div>