@model CarWithAKT.Models.Location

@{
    ViewBag.Title = "Редагування салона";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="pagetitle">
        <h2>Редагування салона</h2>
        <form action="@Url.Action("Index","Locations")"><button style="display:block;margin: 0 auto" class="mybutton">Вернутся к списку</button></form>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="display: flex; justify-content: center">
            <div class="form-horizontal" style="display: flex; flex-direction: column; justify-content: center; width: 600px; align-items: center">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="display:flex;flex-direction:column;justify-content:center; width:500px;align-items:center">
                <p>Назва салона:</p>
                <div class="col-md-10" style="width:100%;display:flex;justify-content:center">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <p>Адрес салона:</p>
                <div class="col-md-10" style="width:100%;display:flex;justify-content:center">
                    @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                </div>
            </div>

                <button type="submit" value="Save" class="mybutton">Зберегти</button>
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
